<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div>
    <form method="POST" enctype="multipart/form-data" action="/product/addPhotoToProduct/3">
        <table>
            </tr>
            <tr><td>File to upload:</td><td><input type="file" name="file" /></td>
            </tr>
            <tr><td></td><td><input type="submit" value="http://localhost:2021/product/addPhotoToProduct/3" /></td></tr>
        </table>
    </form>
</div>

</body>
</html>